node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.env.example
dist
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform-vars.json

data/blueprint-files/
ansible/.inventory-*.yml
k8s/**/02-secrets.yaml
config/terraform-settings.json
